* {
    font-family: SansSerif;
}

h2 {
    overflow: hidden;
    text-align: center;
    color: #56292E;
}

h2:before,
h2:after {
    background-color: #56292E;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}

h2:before {
    right: 2em;
    margin-left: -50%;
}

h2:after {
    left: 2em;
    margin-right: -50%;
}

h3 {
    color: #d29932;
}

p {
    color: #777;
}

header {
    position: fixed;
    height: 32px;
    top: 0;
    transition: top 0.3s ease-in-out;
    width: 100%;
    z-index: 999;
}
header .container{
    padding: 0;
}
#myAudio{
    z-index: 99999;
    position: fixed;
    right: 0;
    bottom: 0;
    margin-right: 10px;
    margin-bottom: 10px;
}
.nav-up {
    top: -40px;
}

.bg-white-transparent {
    /*background: #ffffffe1;*/
    background: rgba( 255, 255, 255, 0.9 );
}

.header-info {
    background-color: #452125;
    color: #fff;
}

.header-info p {
    color: #fff;
    align-self: center;
}

.header-info a {
    color: #d29932;
}

.navbar {
    background-color: #56292E;
    padding: 0;
}

.navbar-nav a {
    font-size: 16px;
    color: #fff;
    transition: 0.3s all;
}

.navbar-nav a {
    border-bottom: 2px solid #56292E;
}

#mobileNav{
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-align: center;
    align-items: center;
    display: none;
}
.navbar-nav li:hover a {
    border-bottom: 2px solid #D29932;
    transition: 0.3s all;
    color: #D29932;
}
.product-links-toggle{
    visibility: hidden;
    background-color: #fff;
    position: absolute;
    right: 357px;
    width: 200px;
    top: 42px;
}
.selling-links-toggle{
    visibility: hidden;
    background-color: #fff;
    position: absolute;
    right: 166px;
    width: 200px;
    top: 42px;
}
.have-sublist i{
    display: none;
}
.product-links-toggle a, .selling-links-toggle a{
    color: #d29932;
}
.mobile-sub-links-selling, .mobile-sub-links-products{
    display: none;
}
.mobile-sub-links-selling a, .mobile-sub-links-products a{
    color: #fff !important;
    border: none !important;
}
.nav-item-selling-btn, .nav-item-products-btn{
    align-self: center;
    color: #fff;
    margin-left: auto;
    width: 42px;
    height: 42px;
    line-height: 42px;
    text-align: center;
}
.sale-info-circle {
    background-color: #fff;
    border: 1px solid #D29932;
    border-radius: 100%;

}

.active-link a {
    color: #d29932;
    border-bottom: 2px solid #D29932;
}

.navbar-toggler {
    color: #fff;
}

.navbar-toggler i {
    font-size: 30px;
}

/*** ABOUT US ***/
.counter i, .counter-value {
    font-size: 50px;
    color: #56292E;
}
.tradition-img img{
    width: 100%;
    height: auto;
    border-radius: 100%;
}

/*** CONTACT ***/
.border-right-contact {
    border-right: 1px solid #bbb;
}
#contact-us form{
    position: relative;
}

#contact-us i {
    width: 170px;
    height: 170px;
    line-height: 170px;
    font-size: 50px;
    text-align: center;
    color: #56292E;

}

#contact-us p {
    color: #777;
}

.send-message-btn {
    background-color: #56292E;
    color: #fff;
    transition: all 0.3s;
    border: none;
}

.send-message-btn:hover {
    background-color: #D29932;
    /*color: #fff;*/
    transition: all 0.3s;
    cursor: pointer;
}

#contact-us iframe {
    width: 100%;
}
#contact-us{
    font-weight: bold;
}
.success{
    display: none;
    opacity: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 99999;
}
.modal-dialog{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 500px;
    color: #D29932;
}
.empty-field{
    border: 2px solid Red
}

#products {
    margin-top: 50vh;
}

#products .timeline-heading p {
    color: #777;
}

.product-more-info-btn {
    color: #56292E;
    font-size: 20px;
    transition: all 0.3s;
}

.product-more-info-btn:hover {
    color: #d29932;
    transition: all 0.3s;
}

.products-images img {
    max-height: 500px;
    max-width: 100%;
    border-radius: 100%;
}

.likeri img {
    border-radius: 10%;
}
.likeri h3{
    text-align: right;
}

.product-bg-image {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
}

.product-text {
    color: #555;
}

.product-sub-header {
    color: #aaa;
}

.selling-info-button a {
    font-size: 20px;
    background-color: #56292E;
    color: #fff;
    padding: 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s all;
}

.selling-info-button a:hover {
    background-color: #d29932;
    transition: 0.3s all;

}

.full {
    position: fixed;
    max-width: 100%;
    height: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    /*display: block;*/
    z-index: -1;
}

.zoom {
    animation: scale 40s linear infinite;
}

@keyframes scale {
    50% {
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2);
    }
}

.medals img {
    width: 100%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

/*Gallery*/
.gallery {
    margin-top: 25vh;
}

.ekko-lightbox-nav-overlay {
    display: flex;
    position: absolute;
    top: 50%;
    width: 100%;
    left: 0;
    justify-content: space-between;
}

.ekko-lightbox-nav-overlay a {
    color: #d29932;
    font-size: 24px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: #eee;
    border-radius: 100%;
}

.gallery-row a {
    align-self: center;
    transition: all 0.3s;

}
.gallery-row a:hover{
    padding: 0px;
    transition: all 0.3s;
}

.modal-body {
    padding: 2em;
}

/**/

/*Production process*/

#production-process img {
    width: 100%;
    border-radius: 100%;
}
.border-radius-10{
    border-radius: 10% !important;
}
/*Selling*/

.selling {
    margin-top: 25vh;
}

.quality {
    margin-top: 25vh;
}

.certificates-img{
    display: none;
}
.certificates-img img{
    width: 100%;
}
.certificates-img a{
    color: #56292E;
}
/* Footer */
.footer-wrapper {
    background-color: #56292E;
}

.footer-wrapper h4 {
    color: #fff;
}

.footer-wrapper p {
    color: #ccc;
    margin-bottom: 5px;
}

.footer-wrapper a {
    color: #ccc;
    transition: all 0.3s;
}

.footer-wrapper a:hover {
    color: #d29932;
    text-decoration: underline;
    transition: all 0.3s;
}

.footer-line {
    height: 2px;
    width: 25%;
    background-color: #d29932;
}
.follow-us i{
    width: 35px;
    height: 35px;
    line-height: 35px;
    border: 1px solid #fff;
    border-radius: 100%;
    text-align: center;
}
.footer-credits {
    background-color: #452125;

    text-align: center;
}
.footer-credits p{
    margin: 0;
    color: #fff;
}
@media only screen and (max-width: 992px) {
    .row{
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    .certificates-img{
        display: inherit;
    }
    .products-heading img {
        height: 100px;
    }

    .products-images {
        text-align: center !important;
    }

    .order-2-mobile {
        order: 2;
    }
    .margin-top-05-mobile{
        margin-top: 0.5rem;
    }
    .background-image{
        max-width: unset !important;
        width: unset !important;
        height: 100vh;
    }
    .product-links-toggle, .selling-links-toggle{
        display: none;
    }
    .have-sublist i{
        display: inherit;
    }
    .certificates object{
        display: none;
    }
}
@media only screen and (max-width: 768px) {
    .display-none-mobile {
        display: none;
    }

    .header-info p {
        font-size: 14px;
    }

    #contact-us i{
        width: 125px;
    }
    .header-info .col-12{
        padding: 0px !important;
    }
}

@media only screen and (max-width: 576px) {
    .header-info p {
        font-size: 12px;
    }
    .container{
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
    .margin-top-30-mobile {
        margin-top: 30px;
    }

    .counter i, .counter-value {
        font-size: 30px;
    }
    .products-heading img {
        height: 50px;
    }
    .border-right-contact{
        border:none;
    }
    #products{
        margin-top: 25vh;
    }
    .header-info .col-12{
        padding: 0px !important;
    }
}

#selling tbody tr:hover{
    background-color: #fff;
    transition: all 0.3s;
}
#selling .company-info p{
    margin-bottom: 0;
}
#selling .uplatnica img{
    width: 100%;
}
